.main-container{
height: 700px;
width: 1400px;
background-color: rgb(250, 244, 244);
display: flex;
flex-direction: column;
align-items: left;
  
  
}

.border-upper{
  height: 80px;
  width: 1400px;
  background-color: rgb(253, 185, 82);
  display:flex;


}

.border-upper-about {
  height: 80px;
  width: 1400px;
  background-color: rgb(33,158,188);
  display: flex;


}

.border-upper-contact {
  height: 80px;
  width: 1400px;
  background-color: rgb(205,92,92);
  display: flex;


}

.toolbar-left{
  width: 400px;
  height: 620px;
  background-color: rgb(253, 129, 98);
  
}

.toolbar-left-about {
  width: 400px;
  height: 620px;
  background-color: rgb(142,202,230);


}

.toolbar-left-contact {
  width: 400px;
  height: 620px;
  background-color: rgb(235, 230, 214);

}


h1{
margin-left: 20px;
}


h3{
  margin-left: 20px;
  color: white;
}

.text-container{
display: flex;
  flex-direction: column;
  align-items: center;
  
}

.text-container-about {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.text-container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.body-container{
  display: inline-flex;
  
}

.body-container-about {
  display: inline-flex;

}

.body-container-contact {
  display: inline-flex;

}

.inputs{
  display:flex;
  margin: 30px;
  gap: 0.5rem;
}

button{
  background-color: greenyellow;
  border-style: hidden;
  width: 100px;
}

.table{
  
    border-color: #c4c4c4;
    border-style: solid;
    border-width: 2px;
}
